@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
 
.navbar {
    background: #e4e9da; 
    background: -webkit-linear-gradient(to right, #0748a9, #007dbb, #16a6b1, #98c9b3, #e4e9da);
    background-image:  linear-gradient(to right, #0748a9, #007dbb, #16a6b1, #98c9b3, #e4e9da);
    
  }

  
 
  

 



  
  
  